<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : Les Premiers Samedis recrutent</title>
	<atom:link href="http://premier-samedi.org/infos/les-premiers-samedis-recrutent/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/infos/les-premiers-samedis-recrutent/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : Liot</title>
		<link>http://premier-samedi.org/infos/les-premiers-samedis-recrutent/#comment-2121</link>
		<dc:creator><![CDATA[Liot]]></dc:creator>
		<pubDate>Tue, 29 Mar 2011 08:02:19 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=614#comment-2121</guid>
		<description><![CDATA[Appel posté sur le forum de Framasoft :
http://forum.framasoft.org/viewtopic.php?f=12&amp;t=35443]]></description>
		<content:encoded><![CDATA[<p>Appel posté sur le forum de Framasoft :<br />
<a href="http://forum.framasoft.org/viewtopic.php?f=12&#038;t=35443" rel="nofollow">http://forum.framasoft.org/viewtopic.php?f=12&#038;t=35443</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>
