<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : février 2011</title>
	<atom:link href="http://premier-samedi.org/premier-samedi/fevrier/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/premier-samedi/fevrier/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : Ren</title>
		<link>http://premier-samedi.org/premier-samedi/fevrier/#comment-1746</link>
		<dc:creator><![CDATA[Ren]]></dc:creator>
		<pubDate>Thu, 03 Feb 2011 23:41:44 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=592#comment-1746</guid>
		<description><![CDATA[&quot;Wikipédia&quot; et non &quot;WIKIMEDIA&quot; !]]></description>
		<content:encoded><![CDATA[<p>&laquo;&nbsp;Wikipédia&nbsp;&raquo; et non &laquo;&nbsp;WIKIMEDIA&nbsp;&raquo; !</p>
]]></content:encoded>
	</item>
</channel>
</rss>
