<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Premier samedi du libre</title>
	<atom:link href="http://premier-samedi.org/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Thu, 24 Mar 2016 10:41:53 +0000</lastBuildDate>
	<language>fr-FR</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>octobre 2015</title>
		<link>http://premier-samedi.org/premier-samedi/octobre-2015/</link>
		<comments>http://premier-samedi.org/premier-samedi/octobre-2015/#comments</comments>
		<pubDate>Wed, 02 Sep 2015 17:10:03 +0000</pubDate>
		<dc:creator><![CDATA[Vincent-Xavier]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">http://premier-samedi.org/?p=1485</guid>
		<description><![CDATA[Date : samedi 3 octobre 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 3 octobre 2015 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 3 octobre 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi 3 octobre 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/octobre-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>juin 2015</title>
		<link>http://premier-samedi.org/premier-samedi/juin-2015/</link>
		<comments>http://premier-samedi.org/premier-samedi/juin-2015/#comments</comments>
		<pubDate>Thu, 07 May 2015 22:06:14 +0000</pubDate>
		<dc:creator><![CDATA[Vincent-Xavier]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">http://premier-samedi.org/?p=1480</guid>
		<description><![CDATA[Date : samedi 6 juin 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 6 juin 2015 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 6 juin 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi 6 juin 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/juin-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>mai 2015</title>
		<link>http://premier-samedi.org/premier-samedi/mai-2015/</link>
		<comments>http://premier-samedi.org/premier-samedi/mai-2015/#comments</comments>
		<pubDate>Thu, 16 Apr 2015 21:13:32 +0000</pubDate>
		<dc:creator><![CDATA[Vincent-Xavier]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">http://premier-samedi.org/?p=1477</guid>
		<description><![CDATA[Date : samedi 2 mai 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 2 mai 2015 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 2 mai 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi 2 mai 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/mai-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>mars 2015</title>
		<link>http://premier-samedi.org/premier-samedi/mars-2015-2/</link>
		<comments>http://premier-samedi.org/premier-samedi/mars-2015-2/#comments</comments>
		<pubDate>Wed, 18 Mar 2015 06:31:02 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1473</guid>
		<description><![CDATA[Date : samedi21 mars 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 21 mars 2015 au Carrefour Numérique de la Cité des Sciences et [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi21 mars 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi 21 mars 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/mars-2015-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>mars 2015</title>
		<link>http://premier-samedi.org/premier-samedi/mars-2015/</link>
		<comments>http://premier-samedi.org/premier-samedi/mars-2015/#comments</comments>
		<pubDate>Thu, 26 Feb 2015 15:35:43 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1470</guid>
		<description><![CDATA[Date : samedi 7 mars 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 7 mars 2015 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 7 mars 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi  7 mars 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/mars-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>février 2015</title>
		<link>http://premier-samedi.org/premier-samedi/fevrier-2015-3/</link>
		<comments>http://premier-samedi.org/premier-samedi/fevrier-2015-3/#comments</comments>
		<pubDate>Thu, 26 Feb 2015 15:34:45 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1467</guid>
		<description><![CDATA[Date : samedi28 février 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 28 février 2015 au Carrefour Numérique de la Cité des Sciences et [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi28 février 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi 28 février 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/fevrier-2015-3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>février 2015</title>
		<link>http://premier-samedi.org/premier-samedi/fevrier-2015-2/</link>
		<comments>http://premier-samedi.org/premier-samedi/fevrier-2015-2/#comments</comments>
		<pubDate>Sat, 21 Feb 2015 09:26:39 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1464</guid>
		<description><![CDATA[Date : samedi21 février 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 21 février 2015 au Carrefour Numérique de la Cité des Sciences et [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi21 février 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi 21 février 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/fevrier-2015-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>février 2015</title>
		<link>http://premier-samedi.org/premier-samedi/fevrier-2015/</link>
		<comments>http://premier-samedi.org/premier-samedi/fevrier-2015/#comments</comments>
		<pubDate>Sun, 04 Jan 2015 10:32:10 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1458</guid>
		<description><![CDATA[Date : samedi 7 février 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 7 février 2015 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 7 février 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi  7 février 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/fevrier-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>janvier 2015</title>
		<link>http://premier-samedi.org/premier-samedi/janvier-2015/</link>
		<comments>http://premier-samedi.org/premier-samedi/janvier-2015/#comments</comments>
		<pubDate>Sun, 14 Dec 2014 15:32:16 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1455</guid>
		<description><![CDATA[Date : samedi 3 janvier 2015 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 3 janvier 2015 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 3 janvier 2015<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi  3 janvier 2015 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/janvier-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>décembre 2014</title>
		<link>http://premier-samedi.org/premier-samedi/decembre-2014/</link>
		<comments>http://premier-samedi.org/premier-samedi/decembre-2014/#comments</comments>
		<pubDate>Sat, 08 Nov 2014 07:45:33 +0000</pubDate>
		<dc:creator><![CDATA[bot]]></dc:creator>
				<category><![CDATA[premier samedi]]></category>

		<guid isPermaLink="false">https://premier-samedi.org/?p=1452</guid>
		<description><![CDATA[Date : samedi 6 décembre 2014 Horaires : de 14h00 à 18h00 Lieu : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux Fedora, Mageia ou Ubuntu, venez nous retrouver le samedi 6 décembre 2014 au Carrefour Numérique de la Cité des Sciences [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>Date</strong> : samedi 6 décembre 2014<br /> <br />
<strong>Horaires</strong> : de 14h00 à 18h00<br /> <br />
<strong>Lieu</strong> : Carrefour Numérique, Cité des Sciences et de l’Industrie, Paris</p>
<p>Pour une nouvelle installation ou pour des ajustements de votre distribution GNU/Linux <a title="Choix de la distribution - Fedora" href="http://premier-samedi.org/a-propos/distributions/#fedora">Fedora</a>, <a title="Choix de la distribution - Mageia" href="http://premier-samedi.org/a-propos/distributions/#mageia">Mageia</a> ou <a title="Choix de la distribution - Ubuntu" href="http://premier-samedi.org/a-propos/distributions/#ubuntu">Ubuntu</a>, venez nous retrouver le samedi  6 décembre 2014 au Carrefour Numérique de la Cité des Sciences et de l&rsquo;Industrie de Paris. Les volontaires de ces associations ainsi que Parinux vous accueilleront avec grand plaisir et partageront leurs compétences avec vous.</p>
<p>Afin de profiter au mieux de votre visite nous vous invitons à vous <a title="Inscriptions" href="http://premier-samedi.org/inscriptions/">inscrire</a> en décrivant votre matériel et vos envies.</p>
<p><strong>Rappel</strong> : la dernière installation débute à 16h30 !</p>
<p><strong>Attention</strong> : avant de venir, pensez à sauvegarder vos données personnelles !</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/premier-samedi/decembre-2014/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
