<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : juin 2012</title>
	<atom:link href="http://premier-samedi.org/premier-samedi/juin-2012/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/premier-samedi/juin-2012/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
</channel>
</rss>
