<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : Visiteur</title>
	<atom:link href="http://premier-samedi.org/inscriptions/visiteur/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : chapot</title>
		<link>http://premier-samedi.org/inscriptions/visiteur/#comment-1845</link>
		<dc:creator><![CDATA[chapot]]></dc:creator>
		<pubDate>Sat, 19 Feb 2011 10:43:59 +0000</pubDate>
		<guid isPermaLink="false">http://wp.premier-samedi.org/?page_id=17#comment-1845</guid>
		<description><![CDATA[je viendrai le 5]]></description>
		<content:encoded><![CDATA[<p>je viendrai le 5</p>
]]></content:encoded>
	</item>
</channel>
</rss>
