<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : janvier 2011</title>
	<atom:link href="http://premier-samedi.org/premier-samedi/janvier-2011/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/premier-samedi/janvier-2011/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : prs</title>
		<link>http://premier-samedi.org/premier-samedi/janvier-2011/#comment-1507</link>
		<dc:creator><![CDATA[prs]]></dc:creator>
		<pubDate>Fri, 07 Jan 2011 15:18:55 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=577#comment-1507</guid>
		<description><![CDATA[Bonjour!

J&#039;ai pris la décision d&#039;installer la dernière version de Ubuntu. Plus précisement, j&#039;utilise Ubuntu Studio. Je me demands s&#039;il y en aura des CDs demain..

Librement,

prs]]></description>
		<content:encoded><![CDATA[<p>Bonjour!</p>
<p>J&rsquo;ai pris la décision d&rsquo;installer la dernière version de Ubuntu. Plus précisement, j&rsquo;utilise Ubuntu Studio. Je me demands s&rsquo;il y en aura des CDs demain..</p>
<p>Librement,</p>
<p>prs</p>
]]></content:encoded>
	</item>
</channel>
</rss>
