<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Premier samedi du libre &#187; infos</title>
	<atom:link href="http://premier-samedi.org/infos/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Thu, 24 Mar 2016 10:41:53 +0000</lastBuildDate>
	<language>fr-FR</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Les Premiers Samedis recrutent</title>
		<link>http://premier-samedi.org/infos/les-premiers-samedis-recrutent/</link>
		<comments>http://premier-samedi.org/infos/les-premiers-samedis-recrutent/#comments</comments>
		<pubDate>Sun, 27 Mar 2011 10:32:11 +0000</pubDate>
		<dc:creator><![CDATA[Vincent-Xavier]]></dc:creator>
				<category><![CDATA[infos]]></category>

		<guid isPermaLink="false">http://premier-samedi.org/?p=614</guid>
		<description><![CDATA[Depuis deux ans, les Premiers Samedis sont une rencontre permettant à toutes et à tous de découvrir l&#8217;informatique libre et d&#8217;échanger autour de ce sujet. L&#8217;informatique libre a pour but de protéger la liberté des utilisateurs et de partager la connaissance. Cette rencontre accueille donc régulièrement des passionnés de logiciels libres, notamment les communautés francophones [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Depuis deux ans, les Premiers Samedis sont une rencontre permettant à toutes et à tous de découvrir l&rsquo;informatique libre et d&rsquo;échanger autour de ce sujet. L&rsquo;informatique libre a pour but de protéger la liberté des utilisateurs et de partager la connaissance.</p>
<p>Cette rencontre accueille donc régulièrement des passionnés de logiciels libres, notamment les communautés francophones de Fedora, Mageia, Mandriva ou Ubuntu. À leurs côtés, des membres de l&rsquo;April, de Parinux ou de Wikimédia sont disponibles pour participer à différents ateliers, ou prendre part à une simple discussion informelle. Les Premiers Samedis sont ainsi l&rsquo;occasion de retrouver d&rsquo;autres passionnés de la « planète libre » et d&rsquo;échanger avec eux : aider un nouvel utilisateur à installer ou à s&rsquo;approprier son système d&rsquo;exploitation ; rencontrer d&rsquo;autres utilisateurs intéressés par des thêmes communs et échanger avec eux sur leurs usages, etc.</p>
<p>Depuis janvier 2011, il a été également mis en place un cycle d&rsquo;ateliers à destination du grand public, qui porte sur l&rsquo;utilisation de logiciels libres dans le cadre de besoins pratiques. Parmi les sujets abordés, on peut citer la bureautique avec OpenOffice.org/LibreOffice, Inkscape pour la création de visuels, ou encore comment utiliser et contribuer à Wikipédia.</p>
<p>Nous cherchons de l&rsquo;aide pour animer ces permanences.</p>
<p>Vous souhaitez partager votre passion pour l&rsquo;informatique libre ? Vous pouvez nous aider en participant à une de ces rencontres. Pour cela, merci de vous inscrire sur <a href="http://wiki.premier-samedi.org/index.php/Presence~public">http://wiki.premier-samedi.org/index.php/Presence~public</a>.</p>
<p>Venez nous retrouver le premier samedi de chaque mois, de 14h à 18h, dans la Classe numérique au Carrefour numérique, niveau -1 de la Cité des sciences et de l&rsquo;industrie, 30 Avenue Corentin Cariou 75019 Paris.</p>
<p>Les plus motivés d&rsquo;entre nous se retrouvent dès 12h pour partager un repas, et nous terminons ces rencontres en continuant nos discussions autour de nos boissons préférées dans un bar avoisinant. Aux beaux jours, nous préférons même nous installer dans le parc de la Villette tout proche.</p>
]]></content:encoded>
			<wfw:commentRss>http://premier-samedi.org/infos/les-premiers-samedis-recrutent/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
