﻿/*
Theme Name: premiersamedi
Description: a clean and simple theme using HTML5 and CSS3 properties
Version: 1.0
Author: nicoduv
Author URI: http://nicoduv.fr
*/


@font-face {
    font-family: 'QuicksandBook';
    src: url('typo/Quicksand_Book-webfont.eot');
    src: url('typo/Quicksand_Book-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('typo/Quicksand_Book-webfont.woff') format('woff'),
         url('typo/Quicksand_Book-webfont.ttf') format('truetype'),
         url('typo/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandBold';
    src: url('typo/Quicksand_Bold-webfont.eot');
    src: url('typo/Quicksand_Bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('typo/Quicksand_Bold-webfont.woff') format('woff'),
         url('typo/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('typo/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandDash';
    src: url('typo/Quicksand_Dash-webfont.eot');
    src: url('typo/Quicksand_Dash-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('typo/Quicksand_Dash-webfont.woff') format('woff'),
         url('typo/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('typo/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;
}


header, hgroup, section, footer, aside, nav, article { 
	display: block;   
}


/* GENERAL */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url("images/fond.jpg");
	background-attachment: fixed;
	background-position: left center;
	background-color: #FFF;
	color: #000;
	margin: 0;
	padding: 0;
}
#wrapper {
	background: none;
	margin: 0 auto;
	width: 100%;
}

a {
	color: #ff00cc;
	text-decoration: none;		
}

a:hover {
	color: #ff00cc;
	text-decoration: underline;		
}
 
a:visited {
	color: #ff00cc;
	text-decoration: none;		
}

img {
	border: none;
}

img a, img a:hover, img a:visited {
	border: none;
}

/* HEADER */

#leftcontent {
	height: 100%;
	left: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 1001;
	background-color: rgba(0, 0, 0, 0.8);
}
#logo {
	margin: 24px 0 32px 0;
	padding: 0;
	text-align: center;
}
#logo img a {
	border: none;
	margin: 0;
}
#logo p {
	font-family: 'QuicksandBook';
	color: #ffffff;
	font-size: 1.1em;
	margin: 5px 0 0 0;
}
#navlist {
	width: 100%;
	background: transparent;
	margin: 0;
	padding: 0;
	border-top: 1px solid #666666;
	display: block;
}
#navlist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navlist li {
	color: #FFF;
	border-bottom: 1px solid #666666;
}
#navlist li a {
	display: block;
	color: #FFF;
	font-size: 1.1em;
	font-family: 'QuicksandBold';
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.6em 0 0.6em 0;
}
#navlist li a:hover, #navigation li a:focus, #navigation li a:active {
	font-family: 'QuicksandBold';
	text-decoration: none;
	color: #ff00cc;
	background-image: url("images/trans2.png");
	background-attachment: repeat;
}
#navlist .current-menu-item > a,
#navlist .current-menu-ancestor > a,
#navlist .current-post-ancestor > a,
#navlist .current-post-parent > a,
#navlist .current_page_item > a,
#navlist .current_page_ancestor > a {
	font-family: 'QuicksandBold';
	text-decoration: none;
	color: #ff00cc;
	background-image: url("images/trans2.png");
	background-attachment: repeat;
}


/* POST */

#maincontent {
	display: block;
	padding-left: 270px;
	height: 100%;
}
#rightcontent {
	width: 480px;
	margin: 0 auto;
	padding: 60px 7% 40px 7%;
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}
#mobilelogo {
	display: none;
	visibility: hidden;
}
#mobilenav {
	display: none;
	visibility: hidden;
}
.mobileretour {
	display: none;
	visibility: hidden;
}
#titre h1 {
	font-family: 'QuicksandBold';
	text-transform: uppercase;
	margin: 20px 0 40px 0;
	padding: 0;
	line-height: 1.2em;
	font-size: 2em;
	text-align: center;
	color: #191919;
}
#titre h1:after {
	content: url("images/etoile.png");
        float: left;
        margin: 8px 0 40px 0;
        width: 100%;
}
#titreinfos h1 {
	font-family: 'QuicksandBold';
	text-transform: uppercase;
	margin: 20px 0 40px 0;
	padding: 0;
	line-height: 1.2em;
	font-size: 2em;
	text-align: center;
	color: #191919;
}
#titreinfos h1 a {
	color: #191919;
	text-decoration: none;
}
#titreinfos h1 a:hover {
	color: #ff00cc;
	text-decoration: none;
}
#titreinfos h1:after {
	content: url("images/etoile.png");
        float: left;
        margin: 8px 0 12px 0;
        width: 100%;
}
.date {
	margin: 0 0 40px 0;
	text-align: center;
	font-size: 0.8em;
	color : #ff00cc;
	text-transform: uppercase;
}
#contenu {
	margin: 20px 0 60px 0;
}
#contenu h2 { 
	margin: 40px 0 20px 0;
	color: #191919;
	font-size: 1.4em;
	font-family: 'QuicksandBold';
	text-transform: uppercase;
	text-align: center;
}
#contenu h3 {
	color: #191919;
	font-size: 1.3em;
	font-family: 'QuicksandBook';
}
#contenu h4 {
	color: #191919;
	font-size: 1.2em;
	font-family: 'QuicksandBook';
}
#contenu h2 a, h3 a, h4 a { 
	color: #ff00cc;
}
#contenu p {
	line-height: 1.6em;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #191919;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: justify;
}
#contenu p a {
	color: #ff00cc;
	text-decoration:none;
}
#contenu p a:hover {
	text-decoration: underline;
}
#contenu p.postmetadata {
	margin-bottom: 80px;
	font: 13px/20px Georgia, "Times New Roman", Times, serif
}
#contenu ul, ol {
	font-size: 16px;
	line-height: 32px;
	color: #191919;
}
#contenu ul ul {
	font-size: 16px;
	line-height: 24px;
	color: #191919;
}
#contenu ul ul li {
	font-size: 16px;
	line-height: 24px;
	color: #191919;
}
#contenu table {
	border-collapse: collapse;
}
#contenu td, th {
	color: #666;
	font-size: 90%;
	padding: 5px;
	border: 1px solid #EAEAEA;
}
#contenu blockquote {
	background: none;
	margin: 40px 0;
}
#contenu address {
	font-size: 0.8em;
}


/* FOOTER */

#general {
	left: 20px;
	bottom: 0;
	margin-right: 0;
	padding: 0;
	position: fixed;
	width: 250px;
	z-index: 1002;
	background: transparent;
	color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 0.8em;
}
#general a {
	color: #FFF;
	text-decoration: none;
}
#general a:hover {
	color: #FFF;
	text-decoration: underline;
}
#general a:visited {
	color: #FFF;
	text-decoration: none;
}

/* others - do NOT delete, needed since wordpress 2.5 */
/* ************************************************** */
.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.alignleft {
float: left;
}
.alignright {
float: right;
}
.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}
.wp-caption-dd {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}


/* MEDIA QUERIES */

@media screen and (max-width: 840px) {
	body {
		width: auto !important;
		margin: auto !important;
		padding: auto !important;
		background-color:#191919 !important;
		background-image: none !important;
	}
	#wrapper {
		width: auto !important;
		background: transparent;
		margin: 0 !important;
		padding: 0 !important;
	}
	#leftcontent {
		display: none !important;
		visibility: hidden;
	}
	#maincontent {
		width: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	#rightcontent {
		width: auto !important; 
		margin: auto !important;
		padding: 20px 0 0 0 !important;
		background-color: #FFF !important;
		color: #000;
	}
	#contenu {
		margin: 0 4% !important;
	}
	#contenu p {
		text-align: left !important;
	}
	#mobilelogo {
		display: block;
		visibility: visible;
		text-align: center;
		margin: 40px 0;
	}
	#mobilelogo p {
		font-family: 'QuicksandBook';
		color: #ffffff;
		font-size: 1.1em;
	}
	#mobilenav {
		display: block;
		visibility: visible;
		width: auto;
		margin-top: 50px;
		margin-bottom: 20px;
		padding-bottom: 50px;
	}
	#mobilenav h2 {
		text-align: center;
		text-transform: uppercase;
		font: 1.3em 'QuicksandBold';
	}

	#mobilenav h2:before {
		content: url("images/etoile.png");
        	margin: 0 10px 0 0;
	}
	#mobilenav h2:after {
		content: url("images/etoile.png");
        	margin: 0 0 0 10px;
	}
	#mobilenav ul {
		list-style: none;
		background: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #CCC;
	}
	#mobilenav li {
		color: #000;
		border-bottom: 1px solid #CCC;
	}
	#mobilenav li a {
		display: block;
		color: #000;
		font: 1.2em 'QuicksandBold';
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 0;
	}
	#mobilenav li a:hover, #navigation li a:focus, #navigation li a:active {
		background-color: #ff00cc;
		text-decoration: none;
		color: #FFF;
	}
	#mobilenav .current-menu-item > a,
	#mobilenav .current-menu-ancestor > a,
	#mobilenav .current-post-ancestor > a,
	#mobilenav .current-post-parent > a,
	#mobilenav .current_page_item > a,
	#mobilenav .current_page_ancestor > a {
		background-color: #ff00cc;
		text-decoration: none;
		color: #FFF;
	}
	.mobileretour {
		display: block;
		visibility: visible;
	}
	#general {
		display: block;
		width: auto !important;
		margin: auto !important;
		font: 11px Tahoma, Geneva, sans-serif;
		text-align: center;
		color: #ccc;
		padding-top: 30px;
		position: relative !important;
		left: 0;
	}
}
