<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : septembre 2010</title>
	<atom:link href="http://premier-samedi.org/premier-samedi/septembre-2010/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/premier-samedi/septembre-2010/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : Christian DURAND</title>
		<link>http://premier-samedi.org/premier-samedi/septembre-2010/#comment-754</link>
		<dc:creator><![CDATA[Christian DURAND]]></dc:creator>
		<pubDate>Fri, 03 Sep 2010 08:47:31 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=531#comment-754</guid>
		<description><![CDATA[OK je m&#039;inscris pour venir le 4 septembre à la Villette]]></description>
		<content:encoded><![CDATA[<p>OK je m&rsquo;inscris pour venir le 4 septembre à la Villette</p>
]]></content:encoded>
	</item>
	<item>
		<title>Par : FUN</title>
		<link>http://premier-samedi.org/premier-samedi/septembre-2010/#comment-750</link>
		<dc:creator><![CDATA[FUN]]></dc:creator>
		<pubDate>Thu, 02 Sep 2010 07:07:03 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=531#comment-750</guid>
		<description><![CDATA[La page d&#039;inscription est H.S... Je serai là en tant que parrain pour Ubuntu.

Salem, Lionel : pas besoin de confirmation. Pensez à sauvegarder vos données avant de venir.

Les infos sur le tatouage sont ici (pour Ubuntu) : http://doc.ubuntu-fr.org/pc_tatoue]]></description>
		<content:encoded><![CDATA[<p>La page d&rsquo;inscription est H.S&#8230; Je serai là en tant que parrain pour Ubuntu.</p>
<p>Salem, Lionel : pas besoin de confirmation. Pensez à sauvegarder vos données avant de venir.</p>
<p>Les infos sur le tatouage sont ici (pour Ubuntu) : <a href="http://doc.ubuntu-fr.org/pc_tatoue" rel="nofollow">http://doc.ubuntu-fr.org/pc_tatoue</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>Par : Salem</title>
		<link>http://premier-samedi.org/premier-samedi/septembre-2010/#comment-737</link>
		<dc:creator><![CDATA[Salem]]></dc:creator>
		<pubDate>Tue, 31 Aug 2010 14:29:56 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=531#comment-737</guid>
		<description><![CDATA[souhaite satisfaire ma curiosité pour les logiciels libres. Applications possibles dans le domaine social.

à samedi 04/09

sr

ps: dois-je attendre une confirmation pour venir ??]]></description>
		<content:encoded><![CDATA[<p>souhaite satisfaire ma curiosité pour les logiciels libres. Applications possibles dans le domaine social.</p>
<p>à samedi 04/09</p>
<p>sr</p>
<p>ps: dois-je attendre une confirmation pour venir ??</p>
]]></content:encoded>
	</item>
	<item>
		<title>Par : cunnilinux</title>
		<link>http://premier-samedi.org/premier-samedi/septembre-2010/#comment-710</link>
		<dc:creator><![CDATA[cunnilinux]]></dc:creator>
		<pubDate>Sun, 29 Aug 2010 08:09:33 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=531#comment-710</guid>
		<description><![CDATA[Bonjour

Vous pouvez aussi nous rencontrer à deux événements de la rentrée : 

Pique-nique du 29 août au parc André Citroën
http://www.parinux.org/content/pique-nique-du-mois-daout

First Jeudi du 2 septembre aux Halles
http://paris.firstjeudi.org/first.php3

Et bien sûr lors du Premier Samedi du 4 septembre à la Cité des Sciences !

À bientôt !]]></description>
		<content:encoded><![CDATA[<p>Bonjour</p>
<p>Vous pouvez aussi nous rencontrer à deux événements de la rentrée : </p>
<p>Pique-nique du 29 août au parc André Citroën<br />
<a href="http://www.parinux.org/content/pique-nique-du-mois-daout" rel="nofollow">http://www.parinux.org/content/pique-nique-du-mois-daout</a></p>
<p>First Jeudi du 2 septembre aux Halles<br />
<a href="http://paris.firstjeudi.org/first.php3" rel="nofollow">http://paris.firstjeudi.org/first.php3</a></p>
<p>Et bien sûr lors du Premier Samedi du 4 septembre à la Cité des Sciences !</p>
<p>À bientôt !</p>
]]></content:encoded>
	</item>
	<item>
		<title>Par : RENOUX Lionel</title>
		<link>http://premier-samedi.org/premier-samedi/septembre-2010/#comment-681</link>
		<dc:creator><![CDATA[RENOUX Lionel]]></dc:creator>
		<pubDate>Thu, 26 Aug 2010 17:00:34 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=531#comment-681</guid>
		<description><![CDATA[Bonjour,

Je souhaiterais passer à Linux...
Mais...
J&#039;ai un ordinateur HP Pavillon dv-7 qui est taoué.....

Je serai là à 14h.
Est-ce possible de venir ?
Car la dernière fois je n&#039;ai eu aucune réponse à mon courriel et du coup je ne suis pas venu...

A bientôt j&#039;espère.
L.Renoux]]></description>
		<content:encoded><![CDATA[<p>Bonjour,</p>
<p>Je souhaiterais passer à Linux&#8230;<br />
Mais&#8230;<br />
J&rsquo;ai un ordinateur HP Pavillon dv-7 qui est taoué&#8230;..</p>
<p>Je serai là à 14h.<br />
Est-ce possible de venir ?<br />
Car la dernière fois je n&rsquo;ai eu aucune réponse à mon courriel et du coup je ne suis pas venu&#8230;</p>
<p>A bientôt j&rsquo;espère.<br />
L.Renoux</p>
]]></content:encoded>
	</item>
</channel>
</rss>
