<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : mai 2010</title>
	<atom:link href="http://premier-samedi.org/premier-samedi/mai-2010/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/premier-samedi/mai-2010/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : Install-party, Fedora 13 &#124; Firasofting</title>
		<link>http://premier-samedi.org/premier-samedi/mai-2010/#comment-2874</link>
		<dc:creator><![CDATA[Install-party, Fedora 13 &#124; Firasofting]]></dc:creator>
		<pubDate>Wed, 14 Sep 2011 08:39:08 +0000</pubDate>
		<guid isPermaLink="false">http://www.premier-samedi.org/?p=494#comment-2874</guid>
		<description><![CDATA[[...] petit post aujourd&#8217;hui pour parler rapidement de l&#8217;install-party de Fedora 13 qui a eu lieu Samedi dernier, le 05 juin 2010. L&#8217;ambiance était sympa, les visiteurs au [...]]]></description>
		<content:encoded><![CDATA[<p>[...] petit post aujourd&#8217;hui pour parler rapidement de l&#8217;install-party de Fedora 13 qui a eu lieu Samedi dernier, le 05 juin 2010. L&#8217;ambiance était sympa, les visiteurs au [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
