<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Commentaires sur : octobre 2010</title>
	<atom:link href="http://premier-samedi.org/premier-samedi/octobre-2010/feed/" rel="self" type="application/rss+xml" />
	<link>http://premier-samedi.org/premier-samedi/octobre-2010/</link>
	<description>Rencontres mensuelles autour du logiciel libre</description>
	<lastBuildDate>Wed, 14 Sep 2011 08:39:08 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9</generator>
	<item>
		<title>Par : quesh</title>
		<link>http://premier-samedi.org/premier-samedi/octobre-2010/#comment-881</link>
		<dc:creator><![CDATA[quesh]]></dc:creator>
		<pubDate>Wed, 29 Sep 2010 07:56:06 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=543#comment-881</guid>
		<description><![CDATA[@annick


il reste des places, le formulaire d&#039;inscription est juste en cours de réécriture.

Tu peux venir tôt vers 14h00.

quesh]]></description>
		<content:encoded><![CDATA[<p>@annick</p>
<p>il reste des places, le formulaire d&rsquo;inscription est juste en cours de réécriture.</p>
<p>Tu peux venir tôt vers 14h00.</p>
<p>quesh</p>
]]></content:encoded>
	</item>
	<item>
		<title>Par : sonneville annick</title>
		<link>http://premier-samedi.org/premier-samedi/octobre-2010/#comment-822</link>
		<dc:creator><![CDATA[sonneville annick]]></dc:creator>
		<pubDate>Tue, 28 Sep 2010 10:26:36 +0000</pubDate>
		<guid isPermaLink="false">http://premier-samedi.org/?p=543#comment-822</guid>
		<description><![CDATA[Hello, 

cliquer sur &quot;vous inscrire&quot; pour le premier samedi  - 2 octobre m&#039;a amenée ici :
Est-ce que cela veut dire su&#039;il n&#039;y a plus de place ? (ohhhh...non! please)
ou puis-je encore être inscrite (repartitionner mon portable et/pour pouvoir utiliser ubuntu, n&#039;importe quelle heure

merci pour votre réponse
A.S.]]></description>
		<content:encoded><![CDATA[<p>Hello, </p>
<p>cliquer sur &laquo;&nbsp;vous inscrire&nbsp;&raquo; pour le premier samedi  &#8211; 2 octobre m&rsquo;a amenée ici :<br />
Est-ce que cela veut dire su&rsquo;il n&rsquo;y a plus de place ? (ohhhh&#8230;non! please)<br />
ou puis-je encore être inscrite (repartitionner mon portable et/pour pouvoir utiliser ubuntu, n&rsquo;importe quelle heure</p>
<p>merci pour votre réponse<br />
A.S.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
